<div class="container my-3">
  <div class="row justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="card">
        <%= image_tag 'public_top.jpg', class:'card-img'%>
        <div class="card-img-overlay d-flex">
          <div class="m-auto sp-font-size">
            <div class="border border-dark bg-white bg-opacity-10" style="padding: 10px;">
              <p class="text-center">ようこそ、DAILY_MENUへ！</p>
              <p class="text-center">こちらはレシピ共有サイトです。</p>
              <p class="text-center">皆さんがが投降したレシピを見ることができます。</p>
              <p class="text-center">レシピの閲覧、投稿をするには会員登録が必要です。</p>
              <p class="text-center">毎日の献立を考えるのに困ってる方、新しい料理を見つけたい方は</p>
              <p class="text-center">ぜひ、ご利用ください。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>