<div class="container my-2">
  <div class="row justify-content-center">
    <div class="card">
      <%= image_tag 'public_top.jpg', class:'card-img mt-2 mb-2'%>
      <div class="card-img-overlay d-flex">
        <div class="m-auto sp-font-size">
          <div class="border border-white bg-dark text-center" style="padding: 10px; opacity: 0.8; color: white;">
            <p>
              こちらは管理者側のページです。<br>
              不適切な投稿やコメントがある場合は<br>
              こちらから削除できます。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>