@use '~bootstrap/scss/bootstrap';

.h-200 {
  height: 250px;
}

.card_text_main {
  a {  
    text-decoration: none;
    background-color: transparent;
    color: black;
  }
}

@media screen and (max-width:480px) { 
  /*　画面サイズが480pxまではここを読み込む　*/
 .sp-font-size{
  font-size: 10px;
 }
}